@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

p, li {
  font-family: 'Epilogue', sans-serif;
  line-height: 130%;
}

p b {
  font-weight: 600;
}

footer {
  text-align: center;
  margin-top: 10em;
}

#loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color:  #FFFCF6;
  transition: opacity 0.5s ease;
}

#loading img {
  width: 10em; 
  height: 10em; 
}

#loading.hidden {
  opacity: 0;
  pointer-events: none; 
}

/* Header */
.main-page {
  background-color: #FFFCF6;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}

header {
  position: relative;
  background-image: url("src/me-phone.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100vw;
  height: fit-content;
  z-index: 1;
}

.header-text {
  font-family: 'Epilogue', sans-serif;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  color: white;
}

.header-text h1 {
  font-weight: 600;
  font-size: 3.3em;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 2em;
}

.header-text h2 {
  font-weight: 600;
  font-size: 2.4em;
  line-height: 150%;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.header-buttons button {
  width: 15em;
  margin-bottom: 1em;
  background-color: transparent;
  border-radius: 0.2em;
  border: none;
  color: white;
  cursor: pointer;
}

.header-buttons button h2 {
  margin: 0.5em;
  font-size: 1.3em;
  font-weight: 400;
}

.header-buttons button h2:hover {
  text-decoration: underline;
}

.menu {
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-top: 0.8em;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
}

.menu-title {
  display: flex;
}

.menu-title h3 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.4em;
  margin-right: 0.3em;
}

.tag {
  margin-top: 0.3em;
  font-size: 0.8em;
}

.arrow-container {
  display: flex;
}

.menu a {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 0.4em;
}

.menu a:hover {
  font-weight: 800;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 10em;
  top: 100%;
  left: 0;
  background-color: #FFFCF6;
  padding-bottom: 0.5em;
}

.menu.active .dropdown {
  display: flex;
}

.arrow {
  margin-top: 0.3em;
  margin-right: 0.8em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  transition: transform 0.2s;
}

.menu.active .arrow {
  transform: rotate(180deg);
}

.arrow:hover, .menu-title:hover {
  cursor: pointer;
}

.projects {
  margin: 0 auto;
  margin-top: 4em;
  width: 90vw;
  padding-bottom: 1em;
}

.projects h2, .work h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 1.5em;
}

.projects h4, .work h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-bottom: 2em;
  font-size: 1em;
}

.projects img {
  width: 100%;
}

.projects div {
  text-align: center;
  width: 100%;
}

.projects div:hover, .work div:hover {
  cursor: pointer;
}

.projects div:hover img, .work div:hover img {
  transform: scale(1.03);
}

.projects h2, .projects h4 {
  text-align: left;
}

.thumb-text {
  display: flex;
  width: 100%;
}

.thumb-text p {
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-top: 1.25em;
}

/* About me */
#about-me {
  width: 85vw;
  margin: 0 auto;
}

#about-me h1 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 2.8em;
  margin: 0;
  margin-bottom: 0.2em;
  color: #000;
}

.about-header img {
  width: 100%;
}

.about-header p {
  line-height: 130%;
}

.contact h2, .skills h2, .experience .h2, .education h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin: 0;
  color: #D74E25;
  margin-top: 1.5em;
}

.contact p {
  margin: 0;
  margin-bottom: 0.5em;
}

.contact .under {
  margin-bottom: 1.5em;
}

.skills .grid .focus p {
  padding: 1em;
  border-radius: 2em;
  background-color: #F0EFE4;
  font-weight: 600;
  font-size: 1.2em;
  max-width: 15em;
  text-align: center;
}

.skills .software h3, .skills .web h3, .work h3, .school h3 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.software p, .web p {
  margin-top: 0;
}

.work img, .school img {
  width: 100%;
}

.work {
  margin-bottom: 3em;
}

.school {
  margin-bottom: 4em;
}

.school .program {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
  margin-top: 0.5em;
  color: #D74E25;
}

.degree {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  margin-top: 0.5em;
  font-style: italic;
}

.school-img {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}


/* Project Popup */
#projectPopUp {
  position: fixed;
  z-index: 1000;
  width: 80vw;
  height: 85vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 10em rgba(0, 0, 0, 1); 
  overflow-y: scroll;
  overflow-x: hidden;
}

#projectPopUp::-webkit-scrollbar {
  width: 0.5em;
}

#projectPopUp::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#projectPopUp h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 2.8em;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

#projectPopUp h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 2em;
}

#projectPopUp .programs {
  text-align: left;
}

.close-container {
  text-align: right;
  position: sticky;
  top: 0; 
}

.close-btn {
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  padding: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.7em;
}

.close-btn:hover {
  background-color: #D74E25;
  border-radius: 10em;
}

/* StaChesstics */
.stachess {
  background-color: #000000;
  color: #ffff;
}

.stachess .project-header {
  margin-bottom: 2em;
}

.stachess .project-header img {
  width: 80vw;
}

.stachess p, .magazine p, .genart p {
  font-weight: 200;
}

.stachess p a {
  color: #ffff;
  font-weight: 500;
}

.stachess .video {
  overflow: hidden;
  margin-top: 5em;
}

.stachess .screens-container7 img {
  width: 100%;
}

.stachess .text {
  margin: 0 auto;
  width: 90%;
  font-weight: 200;
  line-height: 130%;
  margin-top: 4em;
  margin-bottom: 4em;
}

.stachess .logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.stachess .logo img {
  max-width: 50vw;
}

.stachess .logo-img {
  width: 20vw;
}

.stachess .socials-phone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 auto;
  width: 90%;
}

.stachess .socials-phone img {
  width: 35vw;
  margin-bottom: 1em;
}

.stachess .socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.stachess .socials img {
  width: 35vw;
  padding: 5%;
}

.stachess .feedback {
  text-align: center;
}

.stachess .feedback img {
  width: 80vw;
  margin: 0 auto;
}

.stachess .feedback p {
  margin: 0 auto;
  width: 90%;
  line-height: 130%;
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: left;
}

/* Luca Deli */
.luca {
  background-color: #1e5a21;
  color: #ffff;
  background-image: url("src/luca/greens.png");
  background-size: auto 100%;
}

.luca .close-btn {
  color: #1B381D;
}

.luca p {
  font-weight: 300;
}

.luca .video {
  overflow: hidden;
}

.luca .video video {
  height: auto;
  margin-top: -1em;
}

.luca .colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.luca .colors img {
  padding: 4%;
  width: 17vw;
}

.luca .users, .luca .screenshots, .timer .screenshots {
  text-align: center;
}

.luca .users img {
  width: 100%;
  margin-bottom: 1em;
}

.luca .header {
  width: 100%;
  margin-top: 3em;
}

.luca .text, .world .text, .timer .text, .genart .text, .tracker .text {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.luca .screenshots img, .timer .screenshots img {
  width: 100%;
}

.luca .packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.luca .packages img {
  width: 20vw;
}

/* World Simplified */
.world {
  background-color: #F6F8FA;
  color: #0B3D5F;
}

.world .close-btn {
  color: #0B3D5F;
}

.world .project-header {
  margin-bottom: 1em;
}

.world .logo {
  width: 80vw;
  margin: 0 auto;
}

.world .colors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-bottom: 1em;
}

.world .colors img {
  width: 35vw;
}

.world .users {
  text-align: center;
}

.world .users img {
  width: 80%;
  margin-bottom: 1em;
}

.timer .screens-container2, .genart .screens-container3, .champion .screens-container4, .art .screens-container5, .jemu .screens-container6, .stachess .screens-container7  {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2em;
}

.timer .screens, .genart .screens, .champion .screens, .art .screens, .jemu .screens, .stachess .screens {
  display: flex;
  width: 100%;
  transition: transform 0.7s ease-in-out;
}

.world img {
  width: 100%;
  margin: auto;
  flex: 0 0 auto;
}

.world .second {
  margin-top: 5.5em;
}

/* Magazine */
.magazine {
  background-color: #000000;
  color: #fff;
}

.magazine .close-btn {
  color: #fff;
}

.magazine .title-container {
  height: 5em;
}

.magazine .overview img {
  width: 100%;
}

.magazine img {
  width: 100%;
}

/* Timer */
.timer {
  background-color: #DBE1D5;
  color: #21565A;
}

.timer .colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.timer .colors img {
  padding: 4%;
  width: 10vw;
}

.timer .users, .timer .hta {
  text-align: center;
  margin-bottom: 2em;
}

.timer .users img, .timer .hta img {
  width: 80%;
  margin-bottom: 1em;
}

.timer .screens img {
  width: 100%;
}

/* Plants */
.plants {
  background-color: #DAEBC3;
  color: #244F26;
}

.plants .header {
  width: 100%;
}

.plants .play {
  position: absolute;
  z-index: 1000;
  left: 30%;
  top: 40%;
  width: 35vw;
}

.plants .play:hover {
  top: 45%;
}

.plants .text {
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

/* Coffee */
.coffee {
  background-color: #CEB799;
  color: #553225;
}

.coffee .video {
  width: 100%;
}

.coffee .text {
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

/* Exoneuron */
.exoneuron {
  background-color: #FAF9FE;
  color: #000;
}

.exoneuron img {
  width: 100%;
}

.exoneuron .project-header {
  margin-bottom: 5em;
}

.exoneuron .project-header p {
  margin-bottom: 2em;
}

/* GenArt */
.genart {
  background-color: #000000;
  color: #ffffff;
}

.genart img, .genart video {
  width: 100%;
}

.genart .overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.genart .text, .tracker .text {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* Champion Ott */
.champion {
  background-color: #CCE5F9;
  color: #1D5464;
}

.champion img {
  width: 100%;
}

.champion .project-header, .salerno .project-header, .tracker .project-header {
  margin-bottom: 4em;
}

.champion p a {
  color: #1D5464;
}

/* Note */
.note {
  background-color: #F3F1DE;
  color: #000;
}

.note img {
  width: 100%;
}

.note .colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.note .colors img {
  padding: 4%;
  width: 12vw;
}

/* Salerno */
.salerno {
  background-color: #E2CAB2;
  color: #262a38;
}

.salerno img {
  width: 100%;
}

/* Tracker */
.tracker {
  background-color: #DAF0A6;
  color: #000;
}

.tracker img, .tracker .video {
  width: 100%;
}

.tracker .overview {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.tracker .overview img {
  width: 90%;
  margin-bottom: 2em;
}

/* Bloomi */
.bloomi {
  background-color: #E8CDCF;
  color: #42876a;
}

.bloomi img, .bloomi .video {
  width: 100%;
}

.bloomi .colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.bloomi .colors img {
  padding: 4%;
  width: 12vw;
}

.bloomi .overview {
  margin-top: 2em;
}

.bloomi .overview img {
  margin-bottom: 2em;
}

/* Art */
.art {
  background-color: #eadadb;
  color: #599c6e;
}

.art img {
  width: 100%;
}

.art .screen {
  width: 100%;
}

.art div {
  margin-bottom: 2em;
}

.art .paintings img, .art .digital img {
  margin-bottom: 2em;
}

/* JEMU */
.jemu {
  background-color: #FFF9F6;
  color: #1D1E4C;
}

.jemu img {
  width: 100%;
}

.jemu h3 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  margin: 0;
  margin-top: 1em;
}

.jemu .overview {
  text-align: center;
}

.jemu .wishes {
  text-align: left;
  margin-top: 1em;
}

.jemu .overview img {
  width: 80%;
}

.jemu .overview ul {
  padding-left: 1em;
}

.jemu .overview ul li {
  padding-bottom: 1em;
}

.jemu .linkedin img {
  margin-bottom: 1em;
}

/* Bubble Garden */
.bubble {
  background-color: #F9F3E7;
  color: #473C38;
}

.bubble img {
  width: 100%;
}

.bubble .project-header {
  margin-bottom: 5em;
}

.bubble .project-header p {
  margin-bottom: 2em;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1049px) {
  header {
    background-image: url("src/me-tablet.jpeg");
  }  
  .header-text h1 {
    font-size: 4em;
  }
  .header-text h2 {
    font-size: 2.8em;
  }
  .header-text p {
    font-size: 1.2em;
  }
  .header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30em;
  }
  .header-buttons button {
    text-align: left;
    width: 10em;
  }
  .header-buttons button h2 {
    margin-left: 0;
    font-size: 1.2em;
  }
  .projects {
    width: 60vw;
    padding-bottom: 2em;
  }
  .projects div {
    margin-bottom: 2em;
  }

  /* About Me */
  #about-me h1 {
    font-size: 4em;
  }
  .about-header p {
    width: 80%;
  }
  .contact h2, .skills h2, .experience .h2, .education h2 {
    font-size: 3.5em;
  }
  .skills .software h3, .skills .web h3, .work h3, .school h3 {
    font-size: 2.5em;
  }
  .work img {
    width: 70%;
  }
  .work .text, .school .text {
    width: 80%;
  }
  .school .program {
    font-size: 2em;
  }
  .degree {
    font-size: 1.3em;
  }

  /* Project Popup */
  #projectPopUp {
    padding: 2em;
  }
  #projectPopUp h2 {
    font-size: 4em;
  }
  .project-header p {
    width: 70vw;
  }

  /* StaChesstics */
  .stachess .feedback img {
    width: 60vw;
  }

  .stachess .text, .stachess .feedback p, .luca .text, .world .text, .timer .text, .plants .text, .coffee .text, .genart .text, .tracker .text, .jemu .text {
    width: 40vw;
  }

  /* Magazine */
  .magazine .title-container {
    height: 10em;
  }

  .jemu ul {
    width: 60%;
  }
}

/* Desktop */
@media (min-width: 1050px) {
  header {
    background-image: url("src/me.jpeg");
  }  
  .header-text h1 {
    font-size: 6em;
  }
  .header-text h2 {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .header-text p {
    font-size: 1.2em;
  }
  .header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50em;
    margin-top: 8em;
  }
  .header-buttons button {
    text-align: left;
  }
  .header-buttons button h2 {
    margin-left: 0;
    font-size: 1.5em;
  }
  .menu {
    margin-top: 1.5em;
    margin-left: 10%;
  }
  .menu-title h3 {
    font-size: 1.5em;
  }
  .arrow {
    margin-top: 0.5em;
  }
  .tag {
    font-size: 1em;
  }
  .projects {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    padding-bottom: 3em;
    margin-top: 2em;
  }
  .projects h4 {
    margin-bottom: 0;
  }
  .projects div {
    padding: 0.5em;
    margin-bottom: 2em;
  }
  .projects h2, .work h2 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .projects h4, .work h4 {
    font-weight: 300;
    font-size: 1em;
  }
  .thumb-text p {
    margin-top: 1.2em;
    font-size: 0.8em;
  }

  /* About Me */
  #about-me {
    width: 80vw;
  }
  #about-me h1 {
    font-size: 8em;
  }
  .about-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-header img {
    width: 50vw;
  } 
  .about-header p {
    width: 27vw;
  }
  .contact h2, .skills h2, .experience .h2, .education h2 {
    font-size: 5em;
    margin-top: 0.5em;
  }
  .skills .software h3, .skills .web h3, .work h3, .school h3 {
    font-size: 3em;
  } 
  .skills .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
  .experience .view {
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
  }
  .education .view2 {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
  }
  .view .text, .view2 .text {
    width: 35vw;
    margin-top: 1em;
  }
  .view img {
    width: 30vw;
  }
  .view2 img {
    width: 20vw;
  }
  .school .program {
    font-size: 2.3em;
  }
.degree {
    font-size: 1.4em;
  }

  /* Project Popup */
  #projectPopUp {
    width: 75vw;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
  }
  #projectPopUp h2 {
    font-size: 8em;
    margin-bottom: 0;
  }
  #projectPopUp h4 {
    font-size: 1.2em;
  }
  #projectPopUp .project-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #projectPopUp .programs {
    text-align: right;
  }
  #projectPopUp .project-details h4 {
    width: 35%;
  }
  #projectPopUp .project-header p {
    margin-top: 0;
  }

  /* StaChesstics */
  .stachess .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stachess .project-header img {
    width: 50vw;
  }  
  .stachess .project-header p {
    padding-right: 2em;
    width: 25vw;
  }
  .stachess .colors img {
    width: 15vw;
  }
  .stachess .logo img {
    max-width: 40vw;
  }  
  .stachess .logo-img {
    width: 20vw;
  }
  .stachess .socials-phone {
    width: 70%;
  }
  .stachess .socials-phone img {
    width: 25vw;
  }
  .stachess .feedback img {
    width: 40vw;
  }
  
  /* Luca Deli */
  .luca .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .luca .project-header .video {
    width: 50vw;
  }  
  .luca .project-header p, .world .project-header p {
    padding-right: 1em;
    width: 22vw;
  }
  .luca .colors img {
    width: 15vw;
  }
  .luca .users, .world .users, .timer .users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .luca .users img, .world .users img, .timer .users img {
    width: 35vw;
  }
  .luca .screenshots img, .timer .screenshots img {
    width: 55vw;
  }
  .stachess .text, .stachess .feedback p, .luca .text, .world .text, .timer .text, .plants .text, .coffee .text, .genart .text, .tracker .text, .jemu .text {
    width: 30vw;
  }

  /* World Simplified */
  .world .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .world .project-header img {
    width: 50vw;
  } 
  .world .project-header p {
    padding-right: 2em;
  }
  .world .logo {
    width: 50vw;
  }

  /* Magazine */
  .magazine .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .magazine .project-header img {
    width: 45vw;
  }  
  .magazine .project-header p {
    padding-right: 2em;
    width: 25vw;
  }
  .magazine .title-container {
    height: 12em;
  }

  /* Timer */
  .timer .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .timer .project-header .video {
    width: 55vw;
  } 
  .timer .project-header p {
    width: 22vw;
  }
  .timer .screens-container2, .genart .screens-container3, .champion .screens-container4, .stachess .screens-container7 {
    width: 60vw;
  }
  .timer .screens, .genart .screens, .champion .screens, .stachess .screens {
    width: 60vw;
  }

  /* Plants */
  .plants .play {
    left: 35%;
    top: 70%;
    width: 30vw;
  }
  
  .plants .play:hover {
    top: 75%;
  }

   /* Exoneuron */
   .exoneuron .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .exoneuron .project-header img {
    width: 50vw;
  } 
  .exoneuron .project-header p {
    width: 22vw;
  }

  /* GenArt */
  .genart .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .genart .project-header .video {
    width: 50vw;
  } 
  .genart .project-header p {
    width: 22vw;
  }

  /* Champion Ott */
  .champion .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .champion .project-header img {
    width: 45vw;
  } 
  .champion .project-header p {
    width: 22vw;
  }

  /* Note */
  .note .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .note .project-header img {
    width: 50vw;
  } 
  .note .project-header p {
    width: 22vw;
  }
  .note .overview {
    margin: 0 auto;
    width: 60vw;
  }

  /* Salerno */
  .salerno .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .salerno .project-header img {
    width: 50vw;
  } 
  .salerno .project-header p {
    width: 22vw;
  }

  /* Tracker */
  .tracker .project-header, .tracker .overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  .tracker .project-header .video {
    width: 40vw;
  } 
  .tracker .project-header p {
    width: 25vw;
  }
  
  /* Bloomi */
  .bloomi .project-header, .bloomi .overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  .bloomi .project-header .video {
    width: 40vw;
  } 
  .bloomi .project-header p {
    width: 28vw;
  }  
  .bloomi .overview {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  /* Art */
  .art .project-header, .art .paintings, .art .digital {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  .art .project-header img {
    width: 40vw;
  } 
  .art .project-header p {
    width: 28vw;
  } 
  .art .screens-container5  {
    width: 50vw;
  }
  .art .char {
    width: 60vw;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  /* JEMU */
  .jemu .project-header, .jemu .overview, .jemu .linkedin-posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  .jemu .project-header .screens-container6 {
    width: 40vw;
  } 
  .jemu .project-header p {
    width: 28vw;
  } 
  .jemu .overview {
    margin-top: 2em;
  }
  .jemu h3 {
    font-size: 3em;
  }
  .jemu .linkedin {
    text-align: center;
  }
  .jemu .linkedin p, .jemu .linkedin h3 {
    text-align: left;
  }
  .jemu .linkedin-screen {
    width: 60%;
  }

  /* Bubble Garden */
  .bubble .text {
    width: 60%;
  }
}

@media (min-width: 1450px) {
  .projects {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    grid-gap: 2em;
  }
}

@media (min-width: 1880px) {
  /* Magazine */
  .magazine .title-container {
    height: 22em;
  }
}
