@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

html::-webkit-scrollbar {
  display: none;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Epilogue', sans-serif;
}

/* Header */
.main-page {
  background-color: #FFFCF6;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}

header {
  position: relative;
  background-image: url("/src/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100vw;
  height: 13em;
  z-index: 1;
  border-bottom: 0.2em solid #D74E25;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.book-image {
  position: relative;
  margin: 0 auto;
  margin-left: 2%;
  height: 13em;
  z-index: 1;
}

.title {
  z-index: 1000;
  width: 8em;
  position: absolute;
  top: 60%;
  left: 35%; 
  transform: translate(-50%, -50%); 
}

.book h2 {
  color: #FFFCF6;
  font-family: 'Epilogue', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 1em;
  z-index: 1000;
  width: 8em;
  position: absolute;
  top: 70%;
  left: 38%; 
  transform: translate(-50%, -50%); 
}

.project-button {
  position: absolute;
  top: 4em;
  right: 5%;
  cursor: pointer;
  z-index: 0;
}

.about-button {
  position: absolute;
  top: 8em;
  right: 3%;
  cursor: pointer;
  z-index: 0;
}

.box1, .box2 {
  position: relative;
  z-index: -1;
  height: 2.4em;
  width: 20em;
  cursor: pointer;
}

.project-button h3, .about-button h3 {
  position: absolute;
  right: 1em;
  top: 0.2em;
  font-family: 'Special Elite', cursive;
  font-size: 0.6em;
  font-weight: 500;
}

.project-button h3 {
  top: 0.5em;
}

.top-menu:hover .project-button, .top-menu:hover .about-button {
  cursor: pointer;
  margin-top: -0.5%;
}

.menu {
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-top: 0.8em;
  font-family: 'Special Elite', cursive;
  font-size: 1.4em;
  font-weight: 500;
}

.menu-title {
  display: flex;
}

.menu-title h3 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.4em;
  margin-right: 0.3em;
}

.tag {
  margin-top: 0.3em;
  font-size: 0.8em;
}

.arrow-container {
  display: flex;
}

.menu a {
  font-family: 'Special Elite', cursive;
  font-size: 0.8em;
  font-weight: 500;
  padding-bottom: 0.4em;
}

.menu a:hover {
  font-weight: 800;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 10em;
  top: 100%;
  left: 0;
  background-color: #FFFCF6;
  padding-bottom: 0.5em;
}

.menu.active .dropdown {
  display: flex;
}

.arrow {
  margin-top: 0.3em;
  margin-right: 0.8em;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  transition: transform 0.2s;
}

.menu.active .arrow {
  transform: rotate(180deg);
}

.arrow:hover, .menu-title:hover {
  cursor: pointer;
}

.projects {
  margin: 0 auto;
  margin-top: 4em;
  width: 90vw;
  padding-bottom: 5em;
}

.projects h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 600;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  font-size: 1.5em;
}

.projects h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-bottom: 2em;
  font-size: 1em;
}

.projects img {
  width: 100%;
}

.projects div {
  text-align: center;
  width: 100%;
}

.projects div:hover {
  cursor: pointer;
}

.projects div:hover img {
  transform: scale(1.03);
}

.projects h2, .projects h4 {
  text-align: left;
}

.thumb-text {
  display: flex;
  width: 100%;
}

.thumb-text p {
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-top: 1.25em;
}

/* Project Popup */
#projectPopUp {
  position: fixed;
  z-index: 1000;
  width: 80vw;
  height: 85vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 10em rgba(0, 0, 0, 1); 
  overflow-y: scroll;
  overflow-x: hidden;
}

#projectPopUp::-webkit-scrollbar {
  width: 0.5em;
}

#projectPopUp::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#projectPopUp h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  margin: 0;
  margin-top: 0.5em;
}

#projectPopUp h4 {
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 130%;
  margin-top: 0;
}

#projectPopUp .programs {
  text-align: right;
}

#projectPopUp p {
  line-height: 130%;
}

#projectPopUp .project-header p b {
  font-weight: 600;
}

.close-container {
  text-align: right;
  position: sticky;
  top: 0; 
}

.close-btn {
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  padding: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.7em;
}

.close-btn:hover {
  background-color: #D74E25;
  border-radius: 10em;
}

/* StaChesstics */
.stachess {
  background-color: #000000;
  color: #ffff;
}

.stachess div {
  margin-bottom: 2em;
}

.stachess .close-btn {
  color: #ffff;
}

.stachess .project-header img {
  width: 80vw;
}

.stachess p {
  font-weight: 200;
}

.stachess p a {
  color: #ffff;
  font-weight: 500;
}

.stachess .video {
  overflow: hidden;
  margin-top: 5em;
}

.stachess .colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.stachess .colors img {
  padding: 4%;
  width: 20vw;
}

.stachess .text {
  margin: 0 auto;
  width: 90%;
  font-weight: 200;
  line-height: 130%;
  margin-top: 5em;
  margin-bottom: 2em;
}

.stachess .logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.stachess .logo img {
  max-width: 50vw;
}

.stachess .logo-img {
  width: 25vw;
}

.stachess .socials-phone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 auto;
  width: 90%;
}

.stachess .socials-phone img {
  width: 35vw;
  margin-bottom: 1em;
}

.stachess .socials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.stachess .socials img {
  width: 35vw;
  padding: 5%;
}

.stachess .feedback {
  text-align: center;
}

.stachess .feedback img {
  width: 80vw;
  margin: 0 auto;
}

.stachess .feedback p {
  margin: 0 auto;
  width: 90%;
  line-height: 130%;
  margin-bottom: 2em;
  text-align: left;
}

/* Luca Deli */
.luca {
  background-color: #CCFF9A;
  color: #ffff;
  background-image: url("/src/luca/greens.png");
  background-size: auto 100%;
}

.luca .close-btn {
  color: #1B381D;
}

.luca p {
  font-weight: 300;
}

.luca .video {
  overflow: hidden;
}

.luca .video video {
  height: auto;
  margin-top: -1em;
}

.luca .colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.luca .colors img {
  padding: 4%;
  width: 17vw;
}

.luca .users, .luca .screens {
  text-align: center;
}

.luca .users img {
  width: 100%;
  margin-bottom: 1em;
}

.luca .header {
  width: 100%;
  margin-top: 3em;
}

.luca .text {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.luca .screens img {
  width: 100%;
}

.luca .packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.luca .packages img {
  width: 20vw;
}

/* World Simplified */
.world {
  background-color: #F6F8FA;
  color: #0B3D5F;
}

.world .close-btn {
  color: #0B3D5F;
}

.world .slider-container {
  position: relative;
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.world .screens {
  display: flex;
  width: 100%;
  transition: transform 0.7s ease-in-out;
}

.world img {
  width: 100%;
  margin: auto;
  flex: 0 0 auto;
}

.world .slider-btn {
  display: flex;
  width: 70%;
  justify-content: space-between;
  position: absolute;
  margin-top: -19.5em;
  margin-left: 8.8%;
}

.world .slider-btn button {
  font-size: 24px;
  cursor: pointer;
  background-color: #CCFF9A;
  border: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0;
}

@media (min-width: 520px) and (max-width: 767px) {
  header {
    height: 18em;
  }
  .book-image {
    height: 18em;
    margin-left: 7%;
  }
  .project-button {
    top: 7em;
    margin-right: 2%;
  }
  .about-button {
    top: 11em;
    margin-right: 2%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1049px) {
  header {
    height: 24em;
  }
  .book-image {
    height: 24em;
    margin-left: 10%;
  }
  .title {
    width: 13em;
    top: 60%;
    left: 35%; 
  }
  .project-button {
    top: 10em;
    margin-right: 5%;
  }  
  .about-button {
    top: 17em;
    margin-right: 5%;
  }
  .project-button h3, .about-button h3 {
    right: 1.5em;
    top: 0.2em;
    font-size: 1.4em;
    font-weight: 500;
  } 
  .about-button h3 {
    right: 1em;
    top: 0;
  }
  .project-button h3 {
    top: 0.4em;
  }
  .box1, .box2 {
    height: 5em;
  }
  .projects {
    width: 60vw;
  }
  .projects div {
    margin-bottom: 2em;
  }

  /* Project Popup */
  #projectPopUp {
    padding: 2em;
  }
  #projectPopUp h2 {
    font-size: 4em;
  }

  /* StaChesstics */
  .stachess .project-header p {
    width: 70vw;
  }
  .stachess .text, .stachess .feedback p {
    width: 70%;
  }
  .stachess .feedback img {
    width: 60vw;
  }

  /* Luca Deli */
  .luca .text {
    width: 40vw;
  }
}

/* Desktop */
@media (min-width: 1050px) {
  header {
    height: 32em;
  }
  .book-image {
    height: 32em;
    margin-left: 15%;
  }
  .title {
    width: 15em;
    left: 45%; 
  }
  .book h2 {
    font-size: 1.3em;
    left: 47%;
  }
  .project-button {
    top: 14em;
  }
  .about-button {
    top: 21em;
  }
  .project-button h3, .about-button h3 {
    right: 2em;
    top: 0.2em;
    font-size: 1.4em;
    font-weight: 500;
  }
  .about-button h3 {
    right: 2em;
    top: 0;
  }
  .project-button h3 {
    top: 0.4em;
  }
  .box1, .box2 {
    height: 5em;
    width: 30em;
  }
  .menu {
    margin-top: 1.5em;
    margin-left: 10%;
  }
  .menu-title h3 {
    font-size: 1.5em;
  }
  .arrow {
    margin-top: 0.5em;
  }
  .tag {
    font-size: 1em;
  }
  .projects {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-top: 5em;
  }
  .projects h4 {
    margin-bottom: 0;
  }
  .projects div {
    padding: 0.5em;
    margin-bottom: 2em;
  }
  .projects h2 {
    font-weight: 600;
    font-size: 1.5em;
  }
  .projects h4 {
    font-weight: 300;
    font-size: 1em;
  }
  .thumb-text p {
    margin-top: 1.2em;
    font-size: 0.8em;
  }

  /* Project Popup */
  #projectPopUp {
    width: 75vw;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
  }
  #projectPopUp h2 {
    font-size: 8em;
  }
  #projectPopUp h4 {
    font-size: 1.2em;
  }
  #projectPopUp .project-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #projectPopUp .project-details h4 {
    width: 35%;
  }

  /* StaChesstics */
  .stachess .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stachess .project-header img {
    width: 50vw;
  }  
  .stachess .project-header p {
    padding-right: 2em;
    width: 25vw;
  }
  .stachess .colors img {
    width: 15vw;
  }
  .stachess .text, .stachess .feedback p {
    width: 45%;
  }
  .stachess .logo img {
    max-width: 40vw;
  }  
  .stachess .logo-img {
    width: 20vw;
  }
  .stachess .socials-phone {
    width: 70%;
  }
  .stachess .socials-phone img {
    width: 25vw;
  }
  .stachess .feedback img {
    width: 40vw;
  }
  
  /* Luca Deli */
  .luca .project-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .luca .project-header .video {
    width: 50vw;
  }  
  .luca .colors img {
    width: 20vw;
  }
  .luca .project-header p {
    padding-right: 1em;
    width: 20vw;
    margin-top: 0;
  }
  .luca .colors img {
    width: 15vw;
  }
  .luca .users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .luca .users img {
    width: 35vw;
  }
  .luca .screens img {
    width: 55vw;
  }
  .luca .text {
    width: 30vw;
  }
}

@media (min-width: 1450px) {
  header {
    height: 45em;
  }
  .book-image {
    height: 45em;
    margin-left: 18%;
  }
  .title {
    width: 20em;
    left: 50%; 
  }
  .book h2 {
    left: 52%;
  }
  .projects {
    margin-top: 8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    grid-gap: 2em;
  }
  .project-button {
    top: 21em;
    margin-right: 1%;
  }
  .about-button {
    top: 29em;
    margin-right: 2%;
  }
}

@media (min-width: 1880px) {
  header {
    height: 45em;
  }
  .book-image {
    height: 45em;
    margin-left: 30%;
  }
  .title {
    width: 20em;
    left: 50%; 
  }
  .project-button {
    margin-right: 5%;
  }
  .about-button {
    margin-right: 5%;
  }
}
